h1 {
    color:rgb(8, 3, 51);
    text-align: center;
    background-color: lightskyblue;
    font: bold 2.5em/3em italic serif
    
    font-size: 2.5em;
    font-style: italic;
    line-height: 3em;
}

h2 {
    color:lightskyblue
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(8, 3, 51);
    color:lightskyblue;
}
