

h2, h1, p, ul, script
{
    color: rgb(146, 255, 255);
    text-align: center;
}

body
{
    background-color: black;
}

#container
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(48, 48, 48);
}

div
{
    background-color: rgb(73, 73, 73);
}

main
{
    background-color: rgb(48, 48, 48);
    width: 760px;
    margin-left: 200px;
    min-height: 250px;
}

aside
{
    background-color: rgb(48, 48, 48);
    width: 200px;
    min-height: 250px;
    float: left;
}

header
{
    background-color: rgb(56, 56, 56);
}

#nav_menu ul
{
    list-style-type: none;
    display: flex;
    align-self: center;
}



#nav_menu ul li a
{
    text-align: center;
    display: block;
    width: 430px;
    text-decoration: none;
    background-color: rgb(56, 56, 56);
    color: rgb(146, 255, 255);
    font-weight: bold;
    border: 2px solid rgb(146, 255, 255);
}