header {
    color:rgb(8, 3, 51);
    text-align: center;
    background-color: lightskyblue;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color:lightskyblue;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
    background-color: rgb(8, 3, 51);
    color:lightskyblue;
}

#esports {
    color: rgb(255, 255, 255);
}

#eSports {
    color: rgb(255, 255, 255);
}